<ul class="menu-sidebar p-t-95 p-b-70">
    <li class="t-center m-b-13">
        <a href="/index" class="txt19">Home</a>
    </li>

    <li class="t-center m-b-13">
        <a href="/menu" class="txt19">Menu</a>
    </li>

    <li class="t-center m-b-13">
        <a href="/gallery" class="txt19">Gallery</a>
    </li>

    <li class="t-center m-b-13">
        <a href="/about" class="txt19">About</a>
    </li>

    <li class="t-center m-b-13">
        <a href="/blog" class="txt19">Blog</a>
    </li>

    <li class="t-center m-b-33">
        <a href="/contact" class="txt19">Contact</a>
    </li>

    <li class="t-center">
        <!-- Button3 -->
        <a href="/reservation" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
            Reservation
        </a>
    </li>
</ul>